* {
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "spacemono", monospace;
}
body {
  background-color: #161239;
}

.wrapper {
  background-color: #e0e3ee;
  width: 80vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 40px 20px;
  border-radius: 8px;
}
label {
  display: block;
}
span {
  position: relative;
  font-size: 22px;
  bottom: -1px;
}
.opt-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}
button {
  background-color:  #fdba00;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 70px;
  height: 40px;
  border: none;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 8px;
  border: 4px solid #2d08ff;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 8px;
  border: 4px solid #070093;
}
.gridCol {
  height: 1em;
  width: 1em;
  border: 1px solid #373948;
}
.gridRow {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .gridCol {
    height: 0.8em;
    width: 0.8em;
    
    
  }
}

  h1 {
    padding: 5;
    margin: 30;
    font-family: instrument 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #ff931f;


  }


h2 {
  padding: 5;
  margin: 30;
  font-family: instrument 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #fafafa;
}
